<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRnhpitY8DFod9kO6XpF1EO0ceb5ORJB8</string>
	<key>GCM_SENDER_ID</key>
	<string>630382071360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rolomuz.cursosmaster</string>
	<key>PROJECT_ID</key>
	<string>cursos-master-4ee92</string>
	<key>STORAGE_BUCKET</key>
	<string>cursos-master-4ee92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630382071360:ios:bbcedded029b63395199a5</string>
</dict>
</plist>